#hero {
  width: 100%;

  height: 100vh;

  /* padding: 0 130px; */

  /* background-image: url("/src/assets/slacrane/slacrane-2.jpg"); */
  /* background-repeat: no-repeat; */
  /* position: relative; */

  /* color: white; */
  /* background-size: contain; */
  /* background-position: center; */
}
#hero::before {
  /* background-color: rgba(66, 60, 60, 0.3); */
}
#hero h1 {
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(126, 34, 49);
  font-style: italic;
}
/* .hero-display-text h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.hero-display-text button {
  display: block;
  border: none;
  height: 35px;
  width: 150px;
} */
.hero-images {
  display: flex;
  justify-content: space-around;
}
.hero-images ul {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 15px;
}
.list-images {
  width: 410px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 15px;
}
.list-images img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.list-images img:nth-of-type(3) {
  object-fit: fill;
}
.list-images button {
  height: 30px;
  width: 400px;
  border: none;
  padding: 6px;
  font-size: 1rem;
  background-color: rgb(116, 84, 84);

  border-radius: 8px;
}
.list-images button a {
  color: rgb(255, 255, 255);
}

.list-images button:hover {
  height: 30px;
  width: 100%;
  border: none;
  padding: 6px;
  font-size: 1rem;
}
