.footer {
  margin-top: 6px;
  background-color: rgb(255, 254, 254);
  padding: 10px;
  /* height: 50px; */
  color: #2b2828;
}
.footer p {
  text-align: center;
}
.footer .social-links {
  display: flex;
  height: 25px;
  gap: 20px;
  justify-content: center;
}
.social-links a {
  display: inline-block;
  font-size: 28px;
  border-radius: 6px;
}
.social-links a:first-child {
  font-size: 28px;
  color: #f09433;

  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.social-links a:first-child:hover {
  color: #e6683c;
}
.social-links a:last-child {
  font-size: px;
  color: #1da1f2;
  background: linear-gradient(
    45deg,
    #66757f 0%,
    #00acee 25%,
    #36d8ff 50%,
    #f5f8fa 75%,
    #ffffff 100
  );
}
